html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(78, 75, 75);
}

.Grid-container{
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    grid-template-columns: repeat(auto-fit , 8em);
    justify-content: center;

}

img{
    width: 100%;
    height: auto;
    border: 3px yellow solid;
    transition: all .2s ease-in-out;

}

img:hover{
    transform: scale(0.9);
}